<script>
import http from "../http-common";

export default {
  name: "add-user",
  data() {
    return {
      user: {
        id: 0,
        name: "",
        age: 0,
        active: false
      },
      submitted: false
    };
  },
  methods: {
    /* eslint-disable no-console */
    saveUser() {
      var data = {
        name: this.user.name,
        age: this.user.age
      };

      http
        .post("/user", data)
        .then(response => {
          this.user.id = response.data.id;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });

      this.submitted = true;
    },
    newUser() {
      this.submitted = false;
      this.user = {};
    }
    /* eslint-enable no-console */
  }
};
</script>

<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>
