<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app color="red"
    >
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <!-- <v-list-item-title>Benutzer</v-list-item-title> -->
            <router-link to="/userlist">Benutzer</router-link>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-plus</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <!-- <v-list-item-title>Hinzufügen</v-list-item-title> -->
            <router-link to="/add">Hinzufügen</router-link>
          </v-list-item-content>
        </v-list-item>
        
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-glasses</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <!-- <v-list-item-title>Suchen</v-list-item-title> -->
            <router-link to="/search">Suchen</router-link>
          </v-list-item-content>
        </v-list-item>
      
      
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="red"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Benutzerverwaltung</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center">
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn
                  :href="source"
                  icon
                  large
                  target="_blank"
                  v-on="on"
                >
                  <v-icon large>mdi-code-tags</v-icon>
                </v-btn>
              </template>
              <span>Source</span>
            </v-tooltip>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer
      color="indigo"
      app
    >
      <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
  }
</script>